# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Waf build
bld/

# Git cache
.git

# Waf cache
.lock-waf*

# Pre-commit hook
.pre-commit*